name: SAST Scan Project 3

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  sast:
    name: SAST Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
      # v4 is the latest, and we fetch the full history just to avoid any weirdness
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Debug - list repo files
        run: |
          echo "Current directory:"
          pwd
          echo "Repo contents:"
          ls -R .

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: python
          build-mode: none
          config-file: ./.github/codeql/codeql-config.yml

      - name: Run CodeQL Analysis
        uses: github/codeql-action/analyze@v3
